html {
  scroll-behavior: smooth;
 }

.chart-container{
  margin: 10%;
}


#line-graph-4{
  /*border: 1px solid rgb(192,192,192);*/
  padding: 10px;
  box-shadow: 5px 5px rgb(220,220,220);
}

#hero{

  background-color: #303960;
  /*border:10px solid black;*/
  
}

.card-title{
  color: #303960;
  text-align: center;
}

.card-text{
  text-align: center;
}

.card-img-top{
  padding-top: 5%;
  height: 200px;
  width: 200px;
}


#card-container{
  padding-top: 5%;
  position: relative;
  padding-bottom: 0%;
}


#intro-words{
  padding-top: 40%;
  padding-left: 10%;
  padding-bottom: 0%;
}

#stats-image{
  height: 80%;
  width: 80%;
  padding-top: 10%;
  padding-left: 10%; 
}

.card{
  border: 1px solid rgb(220,220,220);
  box-shadow: 5px 5px rgb(220,220,220);
}



#tech-stack{
  margin-top: 5%;
  height: 50vh;
  border: 1px solid rgb(220,220,220);
  box-shadow: 5px 5px rgb(220,220,220);
}

#text-stack-1{
  text-align: center;
  padding: 15vh;
  border-right: 3px solid rgb(220,220,220);
}

#text-stack-2{
  padding: 0%;
  padding-bottom: 0%;
  background-color: red;
}

.img-fluid{
  max-width: 100%;
  max-height: auto;
}

#footer{
  margin-top: 10vh;
}

.form-group{
  max-width: 100%;
}

#first-row{
  margin-top: 5%;
}



.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: green;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}